@model IEnumerable<Book>
<h2>Books List</h2>
<table>
    <tr><th>Title</th><th>Author</th><th>Price</th></tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Price</td>
        </tr>
    }
</table>
